<div style="width: 600px; height: 500px; display: inline-block">
  <h2>Bar Chart</h2>
  <canvas id="barChartCanvas"></canvas>
</div>

<div
  style="width: 600px; height: 500px; display: inline-block; float: inline-end"
>
  <h2>Pie Chart</h2>
  <canvas id="pieChartCanvas"></canvas>
</div>

<div
  style="width: 600px; height: 500px; display: inline-block; margin-top: 150px"
>
  <h2>Line Chart</h2>
  <canvas id="lineChartCanvas"></canvas>
</div>

<div
  style="
    width: 600px;
    height: 500px;
    display: inline-block;
    margin-top: 150px;
    float: inline-end;
  "
>
  <h2>Doughnut Chart</h2>
  <canvas id="dnChartCanvas"></canvas>
</div>

<div
  style="width: 600px; height: 500px; display: inline-block; margin-top: 150px"
>
  <h2>Polar Area Chart</h2>
  <canvas id="paChartCanvas"></canvas>
</div>

<div
  style="
    width: 600px;
    height: 500px;
    display: inline-block;
    margin-top: 150px;
    float: inline-end;
  "
>
  <h2>Radar Chart</h2>
  <canvas id="radarChartCanvas"></canvas>
</div>

<div
  style="width: 600px; height: 500px; display: inline-block; margin-top: 150px"
>
  <h2>Scatter Chart</h2>
  <canvas id="scatterChartCanvas"></canvas>
</div>

<div style="width: 1000px; height: 500px; margin-top: 150px">
  <h2>Bubble Chart</h2>
  <canvas id="bubbleChartCanvas"></canvas>
</div>
